
.success-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success-container h1 {
    font-size: 28px;
    color: #364f6b;
    margin-bottom: 20px;
}

.success-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.5;
}

.btn-success {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #0056b3;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #364f6b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #495057;
}
